.vscode/
results/
.mkn/
bin/
tpp/
__pycache__
*.gif
*.mp4
*.png
*.pdf
space_results/
time_results/
2Dwave/
orszagtangres/
orszagtang*/
MHDrotorres/
shockres/
harrisres/
currentres/
whislerwaveres*/
ideal*/
hallharrisres*/
subprojects

debug/
frames/
framestest/
pyMHD/pyMHD.cpython*
