.vscode/
results/
.mkn/
bin/
tpp/
__pycache__
*.gif

space_results/
time_results/
2Dwave/
orszagtangres/
orszagtangCTAverage/
orszagtangUCTHLL/
orszagtangCTContact/
MHDrotorres/
shockres/