.vscode/
results/
.mkn/
bin/
tpp/
__pycache__
*.gif
*.mp4
*.png
*.pdf
space_results/
time_results/
2Dwave/
orszagtang*/
MHDrotorres/
shockres/
harrisres/
currentres/
whislerwave*/
ideal*/
hallharris*/
subprojects

debug/
frames/
framestest/
pyMHD/pyMHD.cpython*
PHAREMHD/
build/
pyrightconfig.json
compile_commands.json
